.idea/
*.iml
SitnikovCpp/cmake-build-debug
test.txt
AL/SitnikovProblem/Models/*.pt
AL/SitnikovProblem/Datasets/*.pt
AL/SitnikovProblem/Results/Plots/*.png
AL/SitnikovProblem/Results/Training/*.png
AL/Simulations/*.txt
AL/SitnikovProblem/*.npy